# Capstone: Portfolio Optimization

In [1]:
#Base
import numpy as np
import pandas as pd
from datetime import datetime

#import Financial Data from YahooFinance
import yfinance as yf
#import Financial Data from Federal Reserve Economic Data (FRED)
import pandas_datareader as pdr

# 1. Data Wrangling

### 1.1 SP500

##### 1.1.1 S&P500 - Get the data

In [2]:
tickers_list_1 = ["AAL", "AAPL", "AAP", "ABBV", "ABC", "ABT", "ACN", "ADBE", "ADI", "ADM", "ADP", "ADSK", "ADS", "AEE", "AEP", "AES", "AET", "AFL", "AGN", "AIG", "AIV", "AIZ", "AJG", "AKAM", "ALB", "ALGN", "ALK", "ALLE", "ALL", "ALXN", "AMAT", "AMD", "AME", "AMGN", "AMG", "AMP", "AMT", "AMZN", "ANDV", "ANSS", "ANTM", "AON", "AOS", "APA", "APC", "APD", "APH", "APTV", "ARE", "ARNC", "ATVI", "AVB", "AVGO", "AVY", "AWK", "AXP", "AYI", "AZO", "A"]

In [3]:
tickers_list_2 = ["BAC", "BAX", "BA", "BBT", "BBY", "BDX", "BEN", "BF.B", "BHF", "BHGE", "BIIB", "BK", "BLK", "BLL", "BMY", "BRK.B", "BSX", "BWA", "BXP", "CAG", "CAH", "CAT", "CA", "CBG", "CBOE", "CBS", "CB", "CCI", "CCL", "CDNS", "CELG", "CERN", "CFG", "CF", "CHD", "CHK", "CHRW", "CHTR", "CINF", "CI", "CLX", "CL", "CMA", "CMCSA", "CME", "CMG", "CMI", "CMS", "CNC", "CNP", "COF", "COG", "COL", "COO", "COP", "COST", "COTY", "CPB", "CRM", "CSCO", "CSRA", "CSX", "CTAS", "CTL", "CTSH", "CTXS", "CVS", "CVX", "CXO", "C"]

In [4]:
tickers_list_3 = ["DAL", "DE", "DFS", "DGX", "DG", "DHI", "DHR", "DISCA", "DISCK", "DISH", "DIS", "DLR", "DLTR", "DOV", "DPS", "DRE", "DRI", "DTE", "DUK", "DVA", "DVN", "DWDP", "DXC", "D", "EA", "EBAY", "ECL", "ED", "EFX", "EIX", "EL", "EMN", "EMR", "EOG", "EQIX", "EQR", "EQT", "ESRX", "ESS", "ES", "ETFC", "ETN", "ETR", "EVHC", "EW", "EXC", "EXPD", "EXPE", "EXR", "FAST", "FBHS", "FB", "FCX", "FDX", "FE", "FFIV", "FISV", "FIS", "FITB", "FLIR", "FLR", "FLS", "FL", "FMC", "FOXA", "FOX", "FRT", "FTI", "FTV", "F"]

In [5]:
tickers_list_4 = ["GD", "GE", "GGP", "GILD", "GIS", "GLW", "GM", "GOOGL", "GOOG", "GPC", "GPN", "GPS", "GRMN", "GS", "GT", "GWW", "HAL", "HAS", "HBAN", "HBI", "HCA", "HCN", "HCP", "HD", "HES", "HIG", "HII", "HLT", "HOG", "HOLX", "HON", "HPE", "HPQ", "HP", "HRB", "HRL", "HRS", "HSIC", "HST", "HSY", "HUM", "IBM", "ICE", "IDXX", "IFF", "ILMN", "INCY", "INFO", "INTC", "INTU", "IPG", "IP", "IQV", "IRM", "IR", "ISRG", "ITW", "IT", "IVZ", "JBHT", "JCI", "JEC", "JNJ", "JNPR", "JPM", "JWN", "KEY", "KHC", "KIM", "KLAC", "KMB", "KMI", "KMX", "KORS", "KO", "KR", "KSS", "KSU", "K"]

In [6]:
tickers_list_5 = ["LB", "LEG", "LEN", "LH", "LKQ", "LLL", "LLY", "LMT", "LNC", "LNT", "LOW", "LRCX", "LUK", "LUV", "LYB", "L", "MAA", "MAC", "MAR", "MAS", "MAT", "MA", "MCD", "MCHP", "MCK", "MCO", "MDLZ", "MDT", "MET", "MGM", "MHK", "MKC", "MLM", "MMC", "MMM", "MNST", "MON"]

In [7]:
tickers_list_6 = ["MOS", "MO", "MPC", "MRK", "MRO", "MSFT", "MSI", "MS", "MTB", "MTD", "MU", "MYL", "M", "NAVI", "NBL", "NCLH", "NDAQ", "NEE", "NEM", "NFLX", "NFX", "NI", "NKE", "NLSN", "NOC", "NOV", "NRG", "NSC", "NTAP", "NTRS", "NUE", "NVDA", "NWL", "NWSA", "NWS"]

In [8]:
tickers_list_7 = ["OKE", "OMC", "ORCL", "ORLY", "OXY", "O", "PAYX", "PBCT", "PCAR", "PCG", "PCLN", "PDCO", "PEG", "PEP", "PFE", "PFG", "PGR", "PG", "PHM", "PH", "PKG", "PKI", "PLD", "PM", "PNC", "PNR", "PNW", "PPG", "PPL", "PRGO", "PRU", "PSA", "PSX", "PVH", "PWR", "PXD", "PX"]

In [9]:
tickers_list_8 = ["PYPL", "QCOM", "QRVO", "RCL", "REGN", "REG", "RE", "RF", "RHI", "RHT", "RJF", "RL", "RMD", "ROK", "ROP", "ROST", "RRC", "RSG", "RTN", "SBAC", "SBUX", "SCG", "SCHW", "SEE", "SHW", "SIG", "SJM", "SLB", "SLG", "SNA", "SNI", "SNPS", "SO", "SPGI", "SPG", "SRCL", "SRE", "STI", "STT", "STX", "STZ", "SWKS", "SWK", "SYF", "SYK", "SYMC", "SYY"]

In [10]:
tickers_list_9 = ["TAP", "TDG", "TEL", "TGT", "TIF", "TJX", "TMK", "TMO", "TPR", "TRIP", "TROW", "TRV", "TSCO", "TSN", "TSS", "TWX", "TXN", "TXT", "T", "UAA", "UAL", "UA", "UDR", "UHS", "ULTA", "UNH", "UNM", "UNP", "UPS", "URI", "USB", "UTX", "VAR", "VFC", "VIAB", "VLO", "VMC", "VNO", "VRSK", "VRSN", "VRTX", "VTR", "VZ", "V"]

In [11]:
tickers_list_10 = ["WAT", "WBA", "WDC", "WEC", "WFC", "WHR", "WLTW", "WMB", "WMT", "WM", "WRK", "WU", "WYNN", "WYN", "WY", "XEC", "XEL", "XLNX", "XL", "XOM", "XRAY", "XRX", "XYL", "YUM", "ZBH", "ZION", "ZTS"]

In [12]:
# Concatenate all lists into one
all_tickers = tickers_list_1 + tickers_list_2 + tickers_list_3 + tickers_list_4 + tickers_list_5 + tickers_list_6 + tickers_list_7 + tickers_list_8 + tickers_list_9 + tickers_list_10

In [13]:
len(all_tickers)

505

In [14]:
start_date = "2010-02-08"
end_date = "2023-02-07" 

sp500_close_prices = {}

for ticker in all_tickers:
    try:
        data = yf.download(ticker, start=start_date, end=end_date)
        sp500_close_prices[ticker] = data["Close"]
    except Exception as e:
        print(f"Error fetching data for {ticker}: {e}")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['ADS']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AGN']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['ALXN']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['ANTM']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['APC']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BBT']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-02-08 -> 2023-02-07)')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BHGE']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BLL']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CBG']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-02-08 -> 2023-02-07)')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CBS']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CELG']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CERN']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['COG']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CTL']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CTXS']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CXO']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['DISCA']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['DISCK']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['DPS']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-02-08 -> 2023-02-07)')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['DRE']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['DWDP']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['ETFC']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FBHS']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FB']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FISV']: Exception("%ticker%: Data doesn't exist for startDate = 1265605200, endDate = 1675746000")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FLIR']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['GGP']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-02-08 -> 2023-02-07)')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['HCN']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-02-08 -> 2023-02-07)')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['HRS']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['INFO']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['JEC']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['KORS']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-02-08 -> 2023-02-07)')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['KSU']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['LB']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['LLL']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['LUK']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-02-08 -> 2023-02-07)')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['MON']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['MYL']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['NBL']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['NLSN']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['PBCT']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['PCLN']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-02-08 -> 2023-02-07)')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['PKI']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['RHT']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['RTN']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['STI']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['SYMC']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['TIF']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['TMK']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['TSS']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['UTX']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['VAR']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['VIAB']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['WLTW']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['WYN']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-02-08 -> 2023-02-07)')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['XEC']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['XLNX']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['XL']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [15]:
# Step 1: Concatenate all DataFrames into a single DataFrame
all_close_prices_df = pd.concat(sp500_close_prices.values(), axis=1, keys=all_tickers)
#all_close_prices_df.reset_index(inplace=True)
all_close_prices_df

,AAL,AAPL,AAP,ABBV,ABC,ABT,ACN,ADBE,ADI,ADM,...,XLNX,XL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2010-02-08,5.930000,6.932857,40.810001,NaN,26.950001,25.597330,40.169998,32.049999,26.799999,29.889999,...,NaN,NaN,64.349998,33.099998,22.266140,NaN,23.522646,53.805824,17.990000,NaN
2010-02-09,6.440000,7.006786,41.570000,NaN,27.160000,25.597330,40.240002,32.310001,27.120001,29.910000,...,NaN,NaN,65.199997,33.939999,22.081686,NaN,23.774263,54.446602,18.209999,NaN
2010-02-10,6.310000,6.968571,42.330002,NaN,27.190001,25.554148,40.020000,32.759998,27.049999,29.990000,...,NaN,NaN,64.849998,33.790001,22.266140,NaN,23.838964,55.029125,18.520000,NaN
2010-02-11,6.320000,7.095357,42.549999,NaN,27.520000,25.688492,40.270000,32.639999,27.670000,30.030001,...,NaN,NaN,65.239998,33.009998,23.083004,NaN,24.004313,55.922329,18.170000,NaN
2010-02-12,6.810000,7.156429,42.810001,NaN,27.350000,25.875614,40.490002,31.450001,27.990000,29.770000,...,NaN,NaN,64.800003,32.639999,23.109354,NaN,23.982746,55.572815,17.850000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-31,16.139999,144.289993,152.279999,147.750000,168.960007,110.550003,279.049988,370.339996,171.470001,82.849998,...,NaN,NaN,116.010002,36.830002,16.379999,104.010002,130.509995,127.339996,53.160000,165.490005
2023-02-01,16.690001,145.429993,156.839996,146.600006,161.050003,111.820000,283.600006,383.920013,176.589996,83.370003,...,NaN,NaN,114.739998,37.480000,16.700001,104.919998,129.009995,127.800003,53.389999,167.809998
2023-02-02,17.059999,150.820007,155.240005,144.839996,158.470001,112.250000,294.100006,392.230011,179.300003,82.309998,...,NaN,NaN,111.150002,39.660000,16.889999,105.930000,128.210007,127.410004,54.290001,171.000000
2023-02-03,17.020000,154.500000,152.169998,145.199997,156.729996,111.790001,289.220001,379.329987,178.820007,82.279999,...,NaN,NaN,111.919998,38.439999,16.959999,105.250000,127.010002,129.449997,54.410000,167.800003
2023-02-06,16.920000,151.729996,151.669998,145.020004,154.490005,110.750000,284.480011,375.230011,177.550003,82.559998,...,NaN,NaN,111.730003,38.090000,16.740000,104.050003,129.059998,128.520004,54.099998,164.929993

##### 1.1.2 Data preparation

In [16]:
#First, we will drop the columns with NaN because they are the assets that were removed
#or added to the S&P and we want to use consistent assets
#Drop columns with any null (NaN) values
sp500raw = all_close_prices_df.dropna(axis=1)

In [17]:
#Transform date column into datetime
sp500raw.index = pd.to_datetime(sp500raw.index)

In [18]:
#Add the close suffix that will be important later.
sp500raw.columns += '_close'

##### 1.1.3 S&P500 - Missing values and dates

In [19]:
# dates go from 2013-02-08 to 2018-02-07
sp500raw.index

DatetimeIndex(['2010-02-08', '2010-02-09', '2010-02-10', '2010-02-11',
               '2010-02-12', '2010-02-16', '2010-02-17', '2010-02-18',
               '2010-02-19', '2010-02-22',
               ...
               '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27',
               '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02',
               '2023-02-03', '2023-02-06'],
              dtype='datetime64[ns]', name='Date', length=3272, freq=None)

In [20]:
#we know that there are no NaNs values, only missing dates.
sp500raw.isna().sum()

AAL_close     0
AAPL_close    0
AAP_close     0
ABC_close     0
ABT_close     0
             ..
XRAY_close    0
XRX_close     0
YUM_close     0
ZBH_close     0
ZION_close    0
Length: 396, dtype: int64

In [21]:
#Financial data doesnt include weekends and holidays.
#To be consistent with all the other data bases we will make the missing dates values equal to the previous ones.
#We will use forward filling
first_day = sp500raw.index.min()
last_day = sp500raw.index.max()
full_range = pd.date_range(start=first_day, end=last_day, freq="D")
full_range.difference(sp500raw.index)

DatetimeIndex(['2010-02-13', '2010-02-14', '2010-02-15', '2010-02-20',
               '2010-02-21', '2010-02-27', '2010-02-28', '2010-03-06',
               '2010-03-07', '2010-03-13',
               ...
               '2023-01-08', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-21', '2023-01-22', '2023-01-28', '2023-01-29',
               '2023-02-04', '2023-02-05'],
              dtype='datetime64[ns]', length=1475, freq=None)

In [22]:
sp500=sp500raw.asfreq('D')
sp500.fillna(method='ffill',inplace=True)
sp500.rename(columns={'Date':'date'},inplace=True)
sp500.shape

(4747, 396)

In [23]:
sp500.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4747 entries, 2010-02-08 to 2023-02-06
Freq: D
Columns: 396 entries, AAL_close to ZION_close
dtypes: float64(396)
memory usage: 14.4 MB

### 1.2 DowJones Industrial

##### 1.2.1 DJindustrial - Get the data

In [24]:
dowjones_index = "^DJI"
start_date = "2010-02-07"
end_date = "2023-02-08"

dowjones_data = yf.download(dowjones_index, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [25]:
dowjones_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-02-08,10005.429688,10028.559570,9904.089844,9908.389648,9908.389648,216270000
2010-02-09,9910.280273,10139.429688,9910.059570,10058.639648,10058.639648,236210000
2010-02-10,10055.459961,10085.540039,9962.959961,10038.379883,10038.379883,178600000
2010-02-11,10037.849609,10161.570312,9976.709961,10144.190430,10144.190430,194470000
2010-02-12,10137.230469,10137.389648,9983.820312,10099.139648,10099.139648,296510000
...,...,...,...,...,...,...
2023-02-01,34039.601562,34334.699219,33581.421875,34092.960938,34092.960938,370120000
2023-02-02,34129.300781,34145.140625,33814.781250,34053.941406,34053.941406,429910000
2023-02-03,33926.300781,34179.578125,33813.859375,33926.011719,33926.011719,425150000
2023-02-06,33874.441406,33962.839844,33683.578125,33891.019531,33891.019531,296400000
2023-02-07,33769.781250,34240.000000,33634.101562,34156.691406,34156.691406,361620000

##### 1.2.2 DJindustrial - Data preparation

In [26]:
#we will only use volume and close price
dowjones_data = dowjones_data.drop(columns=['Open','High','Low','Adj Close'])
#Transform date column into datetime
dowjones_data.index = pd.to_datetime(dowjones_data.index)
dowjones_data.rename(columns={'Date':'date','Close':'dj_close','Volume':'dj_volume'},inplace=True)
dowjones_data.head(1)

               dj_close  dj_volume
Date
2010-02-08  9908.389648  216270000

In [27]:
dowjones_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3273 entries, 2010-02-08 to 2023-02-07
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dj_close   3273 non-null   float64
 1   dj_volume  3273 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 76.7 KB

##### 1.2.3 DJindustrial - Missing values and dates

In [28]:
full_range.difference(dowjones_data.index)

DatetimeIndex(['2010-02-13', '2010-02-14', '2010-02-15', '2010-02-20',
               '2010-02-21', '2010-02-27', '2010-02-28', '2010-03-06',
               '2010-03-07', '2010-03-13',
               ...
               '2023-01-08', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-21', '2023-01-22', '2023-01-28', '2023-01-29',
               '2023-02-04', '2023-02-05'],
              dtype='datetime64[ns]', length=1475, freq=None)

In [29]:
# Fill in the holidays and weekend
djindustrial=dowjones_data.reindex(full_range)
djindustrial.fillna(method='ffill',inplace=True)

In [30]:
djindustrial.isna().sum()

dj_close     0
dj_volume    0
dtype: int64

In [31]:
djindustrial.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4747 entries, 2010-02-08 to 2023-02-06
Freq: D
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dj_close   4747 non-null   float64
 1   dj_volume  4747 non-null   float64
dtypes: float64(2)
memory usage: 240.3 KB

### 1.3 FED Interest Rates

##### 1.3.1 Interest rates - Get the data

In [32]:
# Set the start and end dates for the data
start_date = "2010-02-07"
end_date = "2023-02-08"

# Fetch the 10-year US Treasury Yield from FRED
us10y_yield = pdr.data.DataReader('DGS10', 'fred', start_date, end_date)

In [33]:
us10y_yield.head(1)

            DGS10
DATE
2010-02-08   3.62

##### 1.3.2 Interest rates - Data preparation

In [34]:
us10y_yield.index = pd.to_datetime(us10y_yield.index)
us10y_yield.rename_axis('date', inplace=True)
us10y_yield.rename(columns={'DGS10':'int_close'},inplace=True)
us10y_yield.head(1)

            int_close
date
2010-02-08       3.62

##### 1.3.3 Interest rates - Missing dates and values

In [35]:
#We are only missing 4 days for no apparent reason.
full_range.difference(us10y_yield.index)

DatetimeIndex(['2010-02-13', '2010-02-14', '2010-02-20', '2010-02-21',
               '2010-02-27', '2010-02-28', '2010-03-06', '2010-03-07',
               '2010-03-13', '2010-03-14',
               ...
               '2023-01-07', '2023-01-08', '2023-01-14', '2023-01-15',
               '2023-01-21', '2023-01-22', '2023-01-28', '2023-01-29',
               '2023-02-04', '2023-02-05'],
              dtype='datetime64[ns]', length=1356, freq=None)

In [36]:
interestrate=us10y_yield.reindex(full_range)
interestrate.fillna(method='ffill',inplace=True)

In [37]:
interestrate.isna().sum()

int_close    0
dtype: int64

In [38]:
interestrate.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4747 entries, 2010-02-08 to 2023-02-06
Freq: D
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   int_close  4747 non-null   float64
dtypes: float64(1)
memory usage: 203.2 KB

### 1.4 Long vs Short term Spread

##### 1.4.1 Spread - Get the data

In [39]:
# Set the start and end dates for the data
start_date = "2010-02-07"
end_date = "2023-02-08"

# Fetch the 10-year and 2-year US Treasury Yields from FRED
us10y_yield = pdr.data.DataReader('DGS10', 'fred', start_date, end_date)
us2y_yield = pdr.data.DataReader('DGS2', 'fred', start_date, end_date)

In [40]:
# Calculate the spread between the 10-year and 2-year yields
spread = us10y_yield['DGS10'] - us2y_yield['DGS2']
spread

DATE
2010-02-08    2.83
2010-02-09    2.83
2010-02-10    2.81
2010-02-11    2.82
2010-02-12    2.85
              ...
2023-02-02   -0.69
2023-02-03   -0.77
2023-02-06   -0.81
2023-02-07   -0.80
2023-02-08   -0.82
Length: 3393, dtype: float64

##### 1.4.2 Spread - Data preparation

In [41]:
#Transform date column into datetime
spreadraw = pd.DataFrame(spread)
spreadraw.head(1)

               0
DATE
2010-02-08  2.83

In [42]:
spreadraw.index = pd.to_datetime(spreadraw.index)
spreadraw.rename_axis('date', inplace=True)
spreadraw.rename(columns={0:'spr_close'},inplace=True)
spreadraw.head(1)

            spr_close
date
2010-02-08       2.83

##### 1.4.3 Spread - Missing dates & values

In [43]:
full_range.difference(spreadraw.index)

DatetimeIndex(['2010-02-13', '2010-02-14', '2010-02-20', '2010-02-21',
               '2010-02-27', '2010-02-28', '2010-03-06', '2010-03-07',
               '2010-03-13', '2010-03-14',
               ...
               '2023-01-07', '2023-01-08', '2023-01-14', '2023-01-15',
               '2023-01-21', '2023-01-22', '2023-01-28', '2023-01-29',
               '2023-02-04', '2023-02-05'],
              dtype='datetime64[ns]', length=1356, freq=None)

In [44]:
spread=spreadraw.asfreq('D')

In [45]:
spread=spreadraw.reindex(full_range)
spread.fillna(method='ffill',inplace=True)

In [46]:
spread.isna().sum()

spr_close    0
dtype: int64

In [47]:
spread.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4747 entries, 2010-02-08 to 2023-02-06
Freq: D
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   spr_close  4747 non-null   float64
dtypes: float64(1)
memory usage: 203.2 KB

### 1.5 Inflation

##### 1.5.1 Inflation - Get the data

In [48]:
#US Consumer Price Index (CPI) in the FRED database
# Set the start and end dates for the data
start_date = "2010-02-07"
end_date = "2023-02-08"

# Fetch the US Consumer Price Index (CPI) from FRED
cpi_data = pdr.data.DataReader('CPIAUCNS', 'fred', start_date, end_date)

In [49]:
cpi_data

            CPIAUCNS
DATE
2010-03-01   217.631
2010-04-01   218.009
2010-05-01   218.178
2010-06-01   217.965
2010-07-01   218.011
...              ...
2022-10-01   298.012
2022-11-01   297.711
2022-12-01   296.797
2023-01-01   299.170
2023-02-01   300.840

[156 rows x 1 columns]

##### 1.5.1 Inflation - Data preparation

In [50]:
cpi_data.index = pd.to_datetime(cpi_data.index)
cpi_data.rename_axis('date', inplace=True)
cpi_data.rename(columns={'CPIAUCNS':'inf_close'},inplace=True)
cpi_data.head(1)

            inf_close
date
2010-03-01    217.631

##### 1.5.3 Inflation - Missing dates and values

In [51]:
full_range.difference(cpi_data.index)

DatetimeIndex(['2010-02-08', '2010-02-09', '2010-02-10', '2010-02-11',
               '2010-02-12', '2010-02-13', '2010-02-14', '2010-02-15',
               '2010-02-16', '2010-02-17',
               ...
               '2023-01-27', '2023-01-28', '2023-01-29', '2023-01-30',
               '2023-01-31', '2023-02-02', '2023-02-03', '2023-02-04',
               '2023-02-05', '2023-02-06'],
              dtype='datetime64[ns]', length=4591, freq=None)

In [52]:
inflation=cpi_data.reindex(full_range)
inflation.fillna(method='ffill',inplace=True)
inflation.fillna(method='bfill',inplace=True)

In [53]:
inflation.head(1)

            inf_close
2010-02-08    217.631

In [54]:
inflation.tail(1)

            inf_close
2023-02-06     300.84

In [55]:
inflation.isna().sum()

inf_close    0
dtype: int64

In [56]:
inflation.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4747 entries, 2010-02-08 to 2023-02-06
Freq: D
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   inf_close  4747 non-null   float64
dtypes: float64(1)
memory usage: 203.2 KB

### 1.6 Volatility index

##### 1.6.1 VIX - Get the data

In [57]:
#US Consumer Price Index (CPI) in the FRED database
# Set the start and end dates for the data
start_date = "2010-02-07"
end_date = "2023-02-08"

# Fetch the VIX data from Yahoo Finance
vix_data = yf.download('^VIX', start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [58]:
vix_data

                 Open       High        Low      Close  Adj Close  Volume
Date
2010-02-08  26.110001  27.110001  25.480000  26.510000  26.510000       0
2010-02-09  26.510000  26.559999  24.780001  26.000000  26.000000       0
2010-02-10  26.360001  26.770000  24.799999  25.400000  25.400000       0
2010-02-11  25.820000  26.110001  23.870001  23.959999  23.959999       0
2010-02-12  23.959999  25.540001  22.730000  22.730000  22.730000       0
...               ...        ...        ...        ...        ...     ...
2023-02-01  19.620001  20.040001  17.700001  17.870001  17.870001       0
2023-02-02  17.740000  19.250000  17.059999  18.730000  18.730000       0
2023-02-03  18.570000  19.299999  17.930000  18.330000  18.330000       0
2023-02-06  19.230000  19.809999  19.209999  19.430000  19.430000       0
2023-02-07  19.540001  19.990000  18.430000  18.660000  18.660000       0

[3273 rows x 6 columns]

##### 1.6.2 VIX - Data preparation

In [59]:
#we will only use volume and close price
vix_data = vix_data.drop(columns=['Open','High','Low','Adj Close','Volume'])
#Transform date column into datetime
vix_data.index = pd.to_datetime(vix_data .index)
vix_data.rename(columns={'Date':'date','Close':'vix_close'},inplace=True)
vix_data.head(1)

            vix_close
Date
2010-02-08      26.51

##### 1.6.3 VIX - Missing dates and values

In [60]:
full_range.difference(vix_data.index)

DatetimeIndex(['2010-02-13', '2010-02-14', '2010-02-15', '2010-02-20',
               '2010-02-21', '2010-02-27', '2010-02-28', '2010-03-06',
               '2010-03-07', '2010-03-13',
               ...
               '2023-01-08', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-21', '2023-01-22', '2023-01-28', '2023-01-29',
               '2023-02-04', '2023-02-05'],
              dtype='datetime64[ns]', length=1475, freq=None)

In [61]:
# Fill in the holidays and weekend
vix=vix_data.reindex(full_range)
vix.fillna(method='ffill',inplace=True)

In [62]:
vix.isna().sum()

vix_close    0
dtype: int64

In [63]:
vix.isna().info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4747 entries, 2010-02-08 to 2023-02-06
Freq: D
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   vix_close  4747 non-null   bool
dtypes: bool(1)
memory usage: 170.8 KB

In [64]:
vix.head(1)

            vix_close
2010-02-08      26.51

### 1.7 S&P500 Total value

##### 1.7.1 S&P500 Total - Get the data

In [65]:
sp500_index = "^GSPC"
start_date = "2010-02-07"
end_date = "2023-02-08"

sp500_data = yf.download(sp500_index, start=start_date, end=end_date)

# The sp500_data variable now contains the historical data for the S&P 500 index

[*********************100%***********************]  1 of 1 completed

In [66]:
sp500_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-02-08,1065.510010,1071.199951,1056.510010,1056.739990,1056.739990,4089820000
2010-02-09,1060.060059,1079.280029,1060.060059,1070.520020,1070.520020,5114260000
2010-02-10,1069.680054,1073.670044,1059.339966,1068.130005,1068.130005,4251450000
2010-02-11,1067.099976,1080.040039,1060.589966,1078.469971,1078.469971,4400870000
2010-02-12,1075.949951,1077.810059,1062.969971,1075.510010,1075.510010,4160680000
...,...,...,...,...,...,...
2023-02-01,4070.070068,4148.950195,4037.199951,4119.209961,4119.209961,4856930000
2023-02-02,4158.680176,4195.439941,4141.879883,4179.759766,4179.759766,5624360000
2023-02-03,4136.689941,4182.359863,4123.359863,4136.479980,4136.479980,4694510000
2023-02-06,4119.569824,4124.629883,4093.379883,4111.080078,4111.080078,4114240000
2023-02-07,4105.350098,4176.540039,4088.389893,4164.000000,4164.000000,4355860000

##### 1.7.2 S&P500 Total - Data preparation

In [67]:
#we will only use volume and close price
sp500_data = sp500_data.drop(columns=['Open','High','Low','Adj Close','Volume'])
#Transform date column into datetime
sp500_data.index = pd.to_datetime(sp500_data.index)
sp500_data.rename(columns={'Date':'date','Close':'sp5t_close'},inplace=True)
sp500_data.head(1)

            sp5t_close
Date
2010-02-08  1056.73999

##### 1.7.3 S&P500 Total - Missing dates and values

In [68]:
full_range.difference(sp500_data.index)

DatetimeIndex(['2010-02-13', '2010-02-14', '2010-02-15', '2010-02-20',
               '2010-02-21', '2010-02-27', '2010-02-28', '2010-03-06',
               '2010-03-07', '2010-03-13',
               ...
               '2023-01-08', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-21', '2023-01-22', '2023-01-28', '2023-01-29',
               '2023-02-04', '2023-02-05'],
              dtype='datetime64[ns]', length=1475, freq=None)

In [69]:
# Fill in the holidays and weekend
sp500total=sp500_data.reindex(full_range)
sp500total.fillna(method='ffill',inplace=True)

In [70]:
sp500total.isna().sum()

sp5t_close    0
dtype: int64

In [71]:
sp500total.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4747 entries, 2010-02-08 to 2023-02-06
Freq: D
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sp5t_close  4747 non-null   float64
dtypes: float64(1)
memory usage: 203.2 KB

# 2. Concatenate all DF

In [72]:
# We already prepared all the dataframes with the same timeframe, so we can easily concatenate them horizontally.
# The order we chose is first to have the general features and at the end the specific features per stock.
database = pd.concat([sp500total,inflation,spread,interestrate,djindustrial,vix,sp500], axis=1)

In [73]:
database.head(1)

,sp5t_close,inf_close,spr_close,int_close,dj_close,dj_volume,vix_close,AAL_close,AAPL_close,AAP_close,...,WU_close,WYNN_close,WY_close,XEL_close,XOM_close,XRAY_close,XRX_close,YUM_close,ZBH_close,ZION_close
2010-02-08,1056.73999,217.631,2.83,3.62,9908.389648,216270000.0,26.51,5.93,6.932857,40.810001,...,16.16,60.759998,39.25,20.040001,64.349998,33.099998,22.26614,23.522646,53.805824,17.99

In [74]:
database.shape

(4747, 403)

In [75]:
database.reset_index(inplace=True)

# 3. Feature Engineering

In [78]:
# Calculate the 30-day moving average using rolling
database.rename(columns={'index':'date'},inplace=True)
database['timing'] = database.index
# Calculate the 30-day moving average using rolling
database['sp5avg'] = database['sp5t_close'].rolling(window=30).mean()
second_column = database.pop('sp5avg')
third_column = database.pop('timing')
database.insert(1,'sp5avg', second_column)
database.insert(2,'timing', third_column)

In [81]:
database.fillna(method='bfill',inplace=True)

In [82]:
database.isna().sum()

date          0
sp5avg        0
timing        0
sp5t_close    0
inf_close     0
             ..
XRAY_close    0
XRX_close     0
YUM_close     0
ZBH_close     0
ZION_close    0
Length: 406, dtype: int64

In [83]:
database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4747 entries, 0 to 4746
Columns: 406 entries, date to ZION_close
dtypes: datetime64[ns](1), float64(404), int64(1)
memory usage: 14.7 MB

In [84]:
database.tail(5)

,date,sp5avg,timing,sp5t_close,inf_close,spr_close,int_close,dj_close,dj_volume,vix_close,...,WU_close,WYNN_close,WY_close,XEL_close,XOM_close,XRAY_close,XRX_close,YUM_close,ZBH_close,ZION_close
4742,2023-02-02,3985.391040,4742,4179.759766,300.84,-0.69,3.40,34053.941406,429910000.0,18.73,...,14.40,102.959999,35.709999,69.559998,111.150002,39.660000,16.889999,128.210007,127.410004,54.290001
4743,2023-02-03,3994.841374,4743,4136.479980,300.84,-0.77,3.53,33926.011719,425150000.0,18.33,...,14.28,102.959999,35.270000,67.980003,111.919998,38.439999,16.959999,127.010002,129.449997,54.410000
4744,2023-02-04,4005.787370,4744,4136.479980,300.84,-0.77,3.53,33926.011719,425150000.0,18.33,...,14.28,102.959999,35.270000,67.980003,111.919998,38.439999,16.959999,127.010002,129.449997,54.410000
4745,2023-02-05,4013.834033,4745,4136.479980,300.84,-0.77,3.53,33926.011719,425150000.0,18.33,...,14.28,102.959999,35.270000,67.980003,111.919998,38.439999,16.959999,127.010002,129.449997,54.410000
4746,2023-02-06,4021.034033,4746,4111.080078,300.84,-0.81,3.63,33891.019531,296400000.0,19.43,...,14.04,102.940002,34.250000,68.800003,111.730003,38.090000,16.740000,129.059998,128.520004,54.099998

In [85]:
database.isna().sum().sum()

0

In [86]:
database.shape

(4747, 406)

# 4. Export database to csv

In [87]:
database.to_csv('database(alldays)2.csv',index=False)

In [88]:
database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4747 entries, 0 to 4746
Columns: 406 entries, date to ZION_close
dtypes: datetime64[ns](1), float64(404), int64(1)
memory usage: 14.7 MB

In [89]:
#Remove the Leap Years
database['date'] = pd.to_datetime(database['date'])

In [90]:
database = database[~((database['date'].dt.month == 2) & (database['date'].dt.day == 29))]

In [91]:
database.to_csv('database2.csv',index=False)

In [92]:
database.shape

(4744, 406)